---
import Layout from '../layouts/Layout.astro';

import AmenidadesImg1 from '../assets/amenidades-1.jpg';
import AmenidadesImg2 from '../assets/amenidades-2.jpg';
import AmenidadesImg3 from '../assets/amenidades-3.jpg';
import AmenidadesImg4 from '../assets/amenidades-4.jpg';
import AmenidadesImg5 from '../assets/amenidades-5.jpg';
import AmenidadesImg6 from '../assets/amenidades-6.jpg';
import AmenidadesImg7 from '../assets/amenidades-7.jpg';

import HomeImg2 from '../assets/home-img-2.png'
import HomeImg3 from '../assets/home-img-3.png'
import HomeImg4 from '../assets/home-img-4.png'

import HeroAmenidades from '../assets/hero-amenidades.jpg';
---
<Layout>
  <section class="heroBanner homePageBanner" 
    style=`background-image: url(${HeroAmenidades.src});`
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-end pb-4">Destinos</h1>
      </div>
    </div>
  </section>
  
  <div class="instalacionesBlock pb-5">
    <div class="container pb-3">
      <h2 class="text-center">
        Todo lo que necesitas
        <span>esta aquí</span>
      </h2>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_32.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>CAMAS BALINESAS</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_3.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>ALBERCA CON BAR</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_24.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>HAMACAS</p>
        </div>
      </div>

    </div>
  </div> 
  
  
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg1.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg2.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg3.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg4.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg5.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg6.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src={AmenidadesImg7.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>
  
</Layout>