---
import Layout from '../layouts/Layout.astro';

import Departamentos1 from '../assets/departamentos-1.jpg';
import Departamentos2 from '../assets/departamentos-2.jpg';

import IconAirbnb from '../assets/ico-airbnb.png'
import IconBooking from '../assets/ico-booking.png'

---
<Layout>
  <section class="heroBanner homePageBanner" 
    style="background-image: url(hero-departamentos.jpg);"
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-end pb-4">Departamentos</h1>
      </div>
    </div>
  </section>
  

  <div class="welcomeBlock mt-5 pt-5 pb-5">
    <div class="container pt-4 pb-3">
      <div class="welcomeBlock--copy-large mw-100">
        <h2 class="text-center">
          DEPARTAMENTO 1  RECÁMARA
        </h2>
        <p class="text-center mw-100 w-100">
          Un espacio moderno y acogedor, ideal para parejas o viajes de negocios. Este departamento cuenta con una recámara privada, área de estar cómoda y un diseño funcional que combina estilo y confort. Al salir, tendrás acceso directo a las amenidades del edificio, lo que te permite disfrutar de áreas comunes sin complicaciones y con la máxima comodidad.
        </p>
      </div>
    </div>
  </div>  
  <div class="imageBlock">
    <img src={Departamentos1.src} alt="" class="d-block mx-auto w-100">
    <div class="imageBlock--btns py-5">
      <div class="container text-end d-flex justify-content-end gap-2 pb-5">
        <a href="#!" class="btn btn-circle btn-airbnb rounded-circle d-flex align-items-center justify-content-center text-align-center">
          <img src={IconAirbnb.src} alt="Airbnb" class="d-block w-100">
        </a>
        <a href="#!" class="btn btn-circle btn-booking rounded-circle d-flex align-items-center justify-content-center text-align-center">
          <img src={IconBooking.src} alt="Booking" class="d-block w-100">
        </a>
        <a href="#!" class="btn btn-warning rounded-pill text-white px-4 py-2 d-flex align-items-center">RESERVA AQUÍ</a>        
      </div>
    </div>    
  </div>

  <div class="welcomeBlock pt-5 pb-5">
    <div class="container pt-4 pb-3">
      <div class="welcomeBlock--copy-large mw-100">
        <h2 class="text-center">
          DEPARTAMENTO 2 RECÁMARAS
        </h2>
        <p class="text-center mw-100 w-100">
          Pensado para familias o grupos que buscan más espacio sin perder el toque de modernidad. Este departamento ofrece dos recámaras amplias, zona de descanso y convivencia, y acabados que invitan a relajarte desde el primer momento. Lo mejor: al salir de tu puerta estarás conectado de inmediato con las amenidades del edificio, facilitando tu experiencia de descanso y entretenimiento.
        </p>
      </div>
    </div>
  </div>  
  <div class="imageBlock">
    <img src={Departamentos2.src} alt="" class="d-block mx-auto w-100">
    <div class="imageBlock--btns py-5">
      <div class="container text-end d-flex justify-content-end gap-2 pb-5">
        <a href="#!" class="btn btn-circle btn-airbnb rounded-circle d-flex align-items-center justify-content-center text-align-center">
          <img src={IconAirbnb.src} alt="Airbnb" class="d-block w-100">
        </a>
        <a href="#!" class="btn btn-circle btn-booking rounded-circle d-flex align-items-center justify-content-center text-align-center">
          <img src={IconBooking.src} alt="Booking" class="d-block w-100">
        </a>
        <a href="#!" class="btn btn-warning rounded-pill text-white px-4 py-2 d-flex align-items-center">RESERVA AQUÍ</a>        
      </div>
    </div>    
  </div>
  
  
</Layout>