---
import HeroBanner from '../components/HeroBanner.astro';
import Layout from '../layouts/Layout.astro';


// images
import HomeImg1 from '../assets/home-img-1.jpg'
import HomeImg2 from '../assets/home-img-2.png'
import HomeImg3 from '../assets/home-img-3.png'
import HomeImg4 from '../assets/home-img-4.png'
import HomeImg5 from '../assets/home-img-5.jpg'
import HomeImg6 from '../assets/home-img-6.png'
import HomeImg7 from '../assets/home-img-7.png'
import HomeImg8 from '../assets/home-img-8.jpg'
import HomeImg9 from '../assets/home-img-9.jpg'

---

<Layout>
<HeroBanner />

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6">
          <div class="welcomeBlock--copy">
            <h2 >
              Bienvenido a 
              <span>Tulum</span>
            </h2>
            <p >
              Tulum cuenta con una ubicación privilegiada en el Caribe, la cual es ideal para un estilo de vida de primer mundo con amplia variedad gastronomica, vida nocturna, spas, centros de yoga, cultura y tiendas orientadas hacia una vida equilibrada.
            </p>
            <p >
              Es considerada uno de los principales centros turísticos y de negocios en el mundo gracias a su alta rentabilidad.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="welcomeBlock--img text-center">
            <img src={HomeImg1.src} alt="Imagen" class="img-fluid">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container">
      <div class="welcomeBlock--copy-large">
        <h2 class="text-center">
          Sobre
          <span>Nosotros</span>
        </h2>
        <p class="text-center">
          Rodeado por la naturaleza que va recorriendo por las costas del océano, el sol dejando caer su luz sobre el agua cristalina de los cenotes y la tranquilidad de la jungla, Karanda el paraíso en un solo lugar donde la paz, la privacidad, el lujo y la naturaleza se encuentran para crear un lugar mágico.
        </p>
        <p class="text-center">
          Karanda comparte la paz y la elegancia de la naturaleza en la exclusiva Región 15, creamos un espacio en el cual puedes crear, relajarte, divertirte y vivir una experiencia única, todo en un mismo lugar. 
        </p>
        <p class="d-none">
          Cada detalle ha sido creada para crear una experiencia única dentro de nuestro paraíso, contando con espacios para cualquier actividad. Descubre la magia de Karanda por ti mism@ y adquiere tu departamento/villa en Karanda, Tulum.
        </p>
      </div>
    </div>
  </div>

  <div class="instalacionesBlock">
    <div class="container">
      <h2 class="text-center">
        Todo lo que necesitas
        <span>esta aquí</span>
      </h2>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_32.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>CAMAS BALINESAS</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_3.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>ALBERCA CON BAR</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_24.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>HAMACAS</p>
        </div>
      </div>

    </div>
  </div>

  <div class="conoceBlock">
    <div class="container">
      <h2>Conoce nuestras <span>Instalaciones</span> de nuestras villas</h2> 
      <p>Ven a vivir esa experiencia que tanto haz anhelado. Escápate a la aventura, a la diversión, a la vida.</p>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg5.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>COCINA EQUIPADA</p>
              <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg6.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>SALA INTEGRADA</p>
              <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg7.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>TERRAZA EQUIPADA</p>
              <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="ctaBigBlock" style={`background-image: url(${HomeImg8.src});`} >
    <div class="container">
      <div class="ctaBigBlock--copy">
        <h3>En KARANDA</h3>
        <h2>Disfruta el <span>paraíso</span></h2>
        <p>
          Escápate y vive el fin de semana de tu vida. Una experiencia única es lo que encontraras en las Villas de KARANDA. Ven con tu familia o amigos y pásala en grande, pregunta por nuestros paquetes y disponibilidad.
        </p>
      </div>
    </div>
  </div>

  <div class="reviewsBlock">
    <div class="container-fluid">
      <div class="reviewsBlock--img">
        <img src={HomeImg9.src} alt="" class="img-fluid d-block">
      </div>
      <div class="reviewsBlock--reviews">
        <h2>Reseñas <span>Villas</span></h2>

        <div class="reviewsBlock--reviews-items">
          <div class="reviewsBlock--reviews-item">
            <div class="reviewsBlock--reviews-item-who">
              <i class="bi bi-person-circle"></i>
            </div>
            <div class="reviewsBlock--reviews-item-copy">
              <h3>Wayneisha</h3>
              <h4>Nueva Orleans, Luisiana</h4>
              <p>¡Nos quedamos para un viaje de despedida de soltera! Fueron un total de 6 chicas y todas estábamos muy cómodas. El personal fue muy receptivo a todas nuestras necesidades y el servicio de limpieza venía todos los días. ¡Utilizamos las piscinas casi todos los días y compramos conserjería para aperitivos y bebidas! ¡Fue una buena experiencia!</p>
              <a href="#!">https://www.airbnb.mx/</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</Layout>
