---
import HeroBanner from '../components/HeroBanner.astro';
import Layout from '../layouts/Layout.astro';

import villaIco1 from '../assets/villa-ico-1-white.png';
import villaIco2 from '../assets/villa-ico-2-white.png';
import villaIco3 from '../assets/villa-ico-3-white.png';
import villaIco4 from '../assets/villa-ico-4-white.png';

// images
import HomeImg1 from '../assets/home-img-1.jpg'
import HomeImg2 from '../assets/home-img-2.png'
import HomeImg3 from '../assets/home-img-3.png'
import HomeImg4 from '../assets/home-img-4.png'
import HomeImg5 from '../assets/home-img-5.jpg'
import HomeImg6 from '../assets/home-img-6.png'
import HomeImg7 from '../assets/home-img-7.png'
import HomeImg8 from '../assets/home-img-8.jpg'
import HomeImg9 from '../assets/home-img-9.jpg'


import AmenidadesImg4 from '../assets/amenidades-4.jpg';
import AmenidadesImg5 from '../assets/amenidades-5.jpg';
import AmenidadesImg6 from '../assets/amenidades-6.jpg';
import AmenidadesImg7 from '../assets/amenidades-7.jpg';

import Slideshow from '../components/Slideshow.astro';

import Reviews from "../components/Reviews.astro";

const homeImage = [
  {
    src: '/hero-home.jpg', // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise',
    width: 1200,
    height: 800
  },
  {
    src: AmenidadesImg4.src, // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise',
    width: 1200,
    height: 800
  },
  {
    src: AmenidadesImg5.src, // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise',
    width: 1200,
    height: 800
  },
  {
    src: AmenidadesImg6.src, // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise',
    width: 1200,
    height: 800
  },
  {
    src: AmenidadesImg7.src, // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise',
    width: 1200,
    height: 800
  },
]

---

<Layout>

  <Slideshow images={homeImage} />

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-4">
          <div class="welcomeBlock--copy">
            <h2 >
              Bienvenido a 
              <span>Tulum</span>
            </h2>
            <p >
              Tulum cuenta con una ubicación privilegiada en el Caribe, la cual es ideal para un estilo de vida de primer mundo con amplia variedad gastronomica, vida nocturna, spas, centros de yoga, cultura y tiendas orientadas hacia una vida equilibrada.
            </p>
            <p >
              Es considerada uno de los principales centros turísticos y de negocios en el mundo gracias a su alta rentabilidad.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <div class="welcomeBlock--img text-center">
            <img src={HomeImg1.src} alt="Imagen" class="img-fluid w-100">
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="instalacionesBlock">
    <div class="container">
      <h2 class="text-center">
        Todo lo que necesitas
        <span>esta aquí</span>
      </h2>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_32.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>CAMAS BALINESAS</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_3.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>ALBERCA CON BAR</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_24.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>HAMACAS</p>
        </div>
      </div>

    </div>
  </div>

  <div class="conoceBlock pb-4">
    <div class="container">
      <h2>Conoce las <span>Instalaciones</span> de nuestras villas</h2> 
      <p>Escápate a la aventura, a la diversión... ¡A la vida que mereces!</p>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg5.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>COCINA EQUIPADA</p>
              <!-- <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg6.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>SALA INTEGRADA</p>
              <!-- <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg7.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>TERRAZA EQUIPADA</p>
              <!-- <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Mas informacion -->
  <section class="masInformacionSection blueTheme pb-2">
    <div class="container">

      <div class="row">
        <div class="col-6 col-md-4 col-lg-4">
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title d-block text-center">
              <div class="ico d-block text-center mx-auto">
                <img src={villaIco2.src} alt="" class="d-block mx-auto" />
              </div>
              <br>
              <h5 class="text-white">SERVICIOS PRIVADOS</h5>
            </div>
          </div>              
        </div>

        <div class="col-6 col-md-4 col-lg-4">
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title d-block text-center">
              <div class="ico d-block text-center mx-auto">
                <img src={villaIco4.src} alt="" class="d-block mx-auto" />
              </div>
              <br>
              <h5 class="text-white">EXPERIENCIA DEL HÚESPED</h5>
            </div>
          </div>              
        </div>

        <div class="col-6 col-md-4 col-lg-4">
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title d-block text-center">
              <div class="ico d-block text-center mx-auto">
                <img src={villaIco3.src} alt="" class="d-block mx-auto" />
              </div>
              <br>
              <h5 class="text-white">AMENIDADES</h5>
            </div>
          </div>              
        </div>

      </div>

      <div class="text-center pb-5 ">
        <a href="/villa" class="btn btn-warning btn-lg rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->        
      </div>

    </div>
  </section>
  <!-- Mas informacion -->  

  <div class="ctaBigBlock" style={`background-image: url(${HomeImg8.src});`} >
    <div class="container">
      <div class="ctaBigBlock--copy">
        <h3>En KARANDA</h3>
        <h2>Disfruta el <span>paraíso</span></h2>
        <p>
          Escápate y vive el fin de semana de tu vida. Una experiencia única es lo que encontraras en las Villas de KARANDA. Ven con tu familia o amigos y pásala en grande, pregunta por nuestros paquetes y disponibilidad.
        </p>
      </div>
    </div>
  </div>

  <div class="welcomeBlock pt-3">
    <div class="container">
      <div class="welcomeBlock--copy-large">
        <h2 class="text-center">
          Sobre
          <span>Nosotros</span>
        </h2>
        <p class="text-center">
          Rodeado por la naturaleza que va recorriendo por las costas del océano, el sol dejando caer su luz sobre el agua cristalina de los cenotes y la tranquilidad de la jungla, Karanda el paraíso en un solo lugar donde la paz, la privacidad, el lujo y la naturaleza se encuentran para crear un lugar mágico.
        </p>
        <p class="text-center">
          Karanda comparte la paz y la elegancia de la naturaleza en la exclusiva Región 15, creamos un espacio en el cual puedes, relajarte, divertirte y vivir una experiencia única, todo en un mismo lugar. 
        </p>
        <p class="d-none">
          Cada detalle ha sido creada para crear una experiencia única dentro de nuestro paraíso, contando con espacios para cualquier actividad. Descubre la magia de Karanda por ti mism@ y adquiere tu departamento/villa en Karanda, Tulum.
        </p>
      </div>
    </div>
  </div>

</Layout>
