---
import HeroBanner from '../components/HeroBanner.astro';
import Layout from '../layouts/Layout.astro';


// images
import HomeImg1 from '../assets/home-img-1.jpg'
import HomeImg2 from '../assets/home-img-2.png'
import HomeImg3 from '../assets/home-img-3.png'
import HomeImg4 from '../assets/home-img-4.png'
import HomeImg5 from '../assets/home-img-5.jpg'
import HomeImg6 from '../assets/home-img-6.png'
import HomeImg7 from '../assets/home-img-7.png'
import HomeImg8 from '../assets/home-img-8.jpg'
import HomeImg9 from '../assets/home-img-9.jpg'

import Slideshow from '../components/Slideshow.astro';

import Reviews from "../components/Reviews.astro";

const homeImage = [
  {
    src: '/hero-home.jpg', // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise',
    width: 1200,
    height: 800
  },
  {
    src: '/hero-home.jpg', // Archivo en public/
    alt: 'Hero',
    title: 'Enjoy the paradise 2',
    width: 1200,
    height: 800
  },
]

const resenas = [
  {
    id: 1,
    nombre: "Antonio",
    fecha: "marzo de 2025",
    calificacion: 5,
    review: "La casa es más bonita que las fotos, cómoda, colchones cómodos, limpieza impecable, cocina completa, nos ayudaron con la decoración y pastel que está delicioso. Las amenidades están muy bien y el área común es grande y cómodo. El anfitrión siempre estuvo atento de nuestras necesidades y contestaba rápido. Totalmente recomendable, gracias por todo.",
  },
  {
    id: 2,
    nombre: "Jas",
    fecha: "abril de 2025",
    calificacion: 5,
    review: "Así que acabo de llegar a casa de mi viaje de cumpleaños a Tulum y mis amigos y yo planeamos hacer de esta una estancia anual en el futuro. Nos encantó todo. La villa es exactamente igual que las fotos, hermosa, espaciosa y lujosa. ¡Sus chefs recomendados fueron EXCELENTES! Siempre elegiré esta villa en lugar de cualquier centro vacacional en Tulum. Gracias por hacer que mi viaje de cumpleaños sea increíble.",
  },
  {
    id: 3,
    nombre: "Shannon",
    fecha: "marzo de 2023",
    calificacion: 5,
    review: "¡Tuve una estancia increíble aquí! ¡Salí para mi despedida de soltera y estábamos tan agradecidos por el servicio de conserjería! ¡Fueron muy amables coordinando todo nuestro transporte durante el fin de semana! ¡La casa era hermosa! ¡Y nos encantó tener 2 piscinas separadas para poder pasar el rato en espacios diferentes cada día! En general, la casa fue increíble y definitivamente fue lo que esperábamos.",
  },
  {
    id: 4,
    nombre: "Marise",
    fecha: "septiembre de 2024",
    calificacion: 5,
    review: "¡Dios mío! Literalmente nos colocaron la alfombra roja. ¡Desde la reservación hasta el último día! Cada persona con la que hablé era muy clara y comprensiva sobre cualquier cosa que necesitáramos/queríamos. Pudimos conseguir un chef, un conductor, servicio de limpieza y cualquier recomendación de comida que queríamos. ¡Realmente me gustaría agradecer a cada persona que ayudó a mi viaje de cumpleaños número 30 a pasar un buen rato! Lo único era que la conexión wifi no estaba allí más fuerte en las habitaciones, pero todos íbamos a la zona común para tener la mejor conexión. Entendemos que Tulum se está construyendo y mejorando cada día, así que tengo muchas ganas de ver la propiedad en un par de años. ¡Qué maravilla la pasamos! ¡Agradecemos a todos! ¡Seguro que volvería !",
  },
  {
    id: 5,
    nombre: "Filip",
    fecha: "marzo de 2025",
    calificacion: 5,
    review: "Gran villa moderna y limpia. Muy acogedor y te sientes como en casa. Las instalaciones fueron geniales y ofrecen muchas oportunidades para relajarse.",
  }
];

---

<Layout>

    <Slideshow images={homeImage} />

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-6">
          <div class="welcomeBlock--copy">
            <h2 >
              Bienvenido a 
              <span>Tulum</span>
            </h2>
            <p >
              Tulum cuenta con una ubicación privilegiada en el Caribe, la cual es ideal para un estilo de vida de primer mundo con amplia variedad gastronomica, vida nocturna, spas, centros de yoga, cultura y tiendas orientadas hacia una vida equilibrada.
            </p>
            <p >
              Es considerada uno de los principales centros turísticos y de negocios en el mundo gracias a su alta rentabilidad.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="welcomeBlock--img text-center">
            <img src={HomeImg1.src} alt="Imagen" class="img-fluid">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container">
      <div class="welcomeBlock--copy-large">
        <h2 class="text-center">
          Sobre
          <span>Nosotros</span>
        </h2>
        <p class="text-center">
          Rodeado por la naturaleza que va recorriendo por las costas del océano, el sol dejando caer su luz sobre el agua cristalina de los cenotes y la tranquilidad de la jungla, Karanda el paraíso en un solo lugar donde la paz, la privacidad, el lujo y la naturaleza se encuentran para crear un lugar mágico.
        </p>
        <p class="text-center">
          Karanda comparte la paz y la elegancia de la naturaleza en la exclusiva Región 15, creamos un espacio en el cual puedes, relajarte, divertirte y vivir una experiencia única, todo en un mismo lugar. 
        </p>
        <p class="d-none">
          Cada detalle ha sido creada para crear una experiencia única dentro de nuestro paraíso, contando con espacios para cualquier actividad. Descubre la magia de Karanda por ti mism@ y adquiere tu departamento/villa en Karanda, Tulum.
        </p>
      </div>
    </div>
  </div>

  <div class="instalacionesBlock">
    <div class="container">
      <h2 class="text-center">
        Todo lo que necesitas
        <span>esta aquí</span>
      </h2>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_32.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>CAMAS BALINESAS</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_3.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>ALBERCA CON BAR</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <video
            width="100%"
            preload="metadata"
            autoplay
            loop
            controls
          >
            <source src="/KARANDA_CLIP_24.mp4" type="video/mp4" />
            Lo sentimos, tu navegador no soporta video integrado.
          </video>
          <p>HAMACAS</p>
        </div>
      </div>

    </div>
  </div>

  <div class="conoceBlock">
    <div class="container">
      <h2>Conoce las <span>Instalaciones</span> de nuestras villas</h2> 
      <p>Escápate a la aventura, a la diversión... ¡A la vida que mereces!</p>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg5.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>COCINA EQUIPADA</p>
              <!-- <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg6.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>SALA INTEGRADA</p>
              <!-- <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="conoceBlock--card">
            <img src={HomeImg7.src} alt="" class="img-fluid">
            <div class="conoceBlock--card-foot">
              <p>TERRAZA EQUIPADA</p>
              <!-- <a href="/villa" class="btn btn-warning rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-5 mt-4">
        <a href="/villa" class="btn btn-warning btn-lg rounded-pill text-white px-4 py-2">CONOCE MÁS</a> -->        
      </div>

    </div>
  </div>

  <div class="ctaBigBlock" style={`background-image: url(${HomeImg8.src});`} >
    <div class="container">
      <div class="ctaBigBlock--copy">
        <h3>En KARANDA</h3>
        <h2>Disfruta el <span>paraíso</span></h2>
        <p>
          Escápate y vive el fin de semana de tu vida. Una experiencia única es lo que encontraras en las Villas de KARANDA. Ven con tu familia o amigos y pásala en grande, pregunta por nuestros paquetes y disponibilidad.
        </p>
      </div>
    </div>
  </div>

  <div class="reviewsBlock">
    <div class="container-fluid">
      <div class="reviewsBlock--img">
        <img src={HomeImg9.src} alt="" class="img-fluid d-block">
      </div>
      <div class="reviewsBlock--reviews">
        <h2>Reseñas <span>Villas</span></h2>

        <div class="reviewsBlock--reviews-items">
          <Reviews resenas={resenas} />
        </div>

      </div>
    </div>
  </div>

</Layout>
