---
import Layout from "../layouts/Layout.astro"

import AmenidadesImg1 from '../assets/hero-amenidades.jpg';

import HeroResenas from '../assets/hero-resenas.jpg';

import villaIco1 from '../assets/villa-ico-1.png';
import villaIco2 from '../assets/villa-ico-2.png';
import villaIco3 from '../assets/villa-ico-3.png';
import villaIco4 from '../assets/villa-ico-4.png';

import IconAirbnb from '../assets/ico-airbnb.png'
import IconBooking from '../assets/ico-booking.png'

import Gallery from "../components/Gallery.astro";

import Reviews from "../components/Reviews.astro";


const galleryImages = [
  {
    src: '/villa3-1.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/villa3-2.jpg', // Archivo en public/
    alt: 'Villa 3 - 2',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/villa3-3.jpg', // Archivo en public/
    alt: 'Villa 3 - 3',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/villa3-4.jpg', // Archivo en public/
    alt: 'Villa 3 - 4',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
];

const resenas = [
  {
    id: 1,
    nombre: "Marise",
    fecha: "septiembre de 2024",
    calificacion: 5,
    review: "¡Dios mío! Literalmente nos colocaron la alfombra roja. ¡Desde la reservación hasta el último día! Cada persona con la que hablé era muy clara y comprensiva sobre cualquier cosa que necesitáramos/queríamos. Pudimos conseguir un chef, un conductor, servicio de limpieza y cualquier recomendación de comida que queríamos. ¡Realmente me gustaría agradecer a cada persona que ayudó a mi viaje de cumpleaños número 30 a pasar un buen rato! Lo único era que la conexión wifi no estaba allí más fuerte en las habitaciones, pero todos íbamos a la zona común para tener la mejor conexión. Entendemos que Tulum se está construyendo y mejorando cada día, así que tengo muchas ganas de ver la propiedad en un par de años. ¡Qué maravilla la pasamos! ¡Agradecemos a todos! ¡Seguro que volvería !",
  },  
  {
    id: 2,
    nombre: "Antonio",
    fecha: "marzo de 2025",
    calificacion: 5,
    review: "La casa es más bonita que las fotos, cómoda, colchones cómodos, limpieza impecable, cocina completa, nos ayudaron con la decoración y pastel que está delicioso. Las amenidades están muy bien y el área común es grande y cómodo. El anfitrión siempre estuvo atento de nuestras necesidades y contestaba rápido. Totalmente recomendable, gracias por todo.",
  },
  {
    id: 3,
    nombre: "Jas",
    fecha: "abril de 2025",
    calificacion: 5,
    review: "Así que acabo de llegar a casa de mi viaje de cumpleaños a Tulum y mis amigos y yo planeamos hacer de esta una estancia anual en el futuro. Nos encantó todo. La villa es exactamente igual que las fotos, hermosa, espaciosa y lujosa. ¡Sus chefs recomendados fueron EXCELENTES! Siempre elegiré esta villa en lugar de cualquier centro vacacional en Tulum. Gracias por hacer que mi viaje de cumpleaños sea increíble.",
  },
  {
    id: 4,
    nombre: "Shannon",
    fecha: "marzo de 2023",
    calificacion: 5,
    review: "¡Tuve una estancia increíble aquí! ¡Salí para mi despedida de soltera y estábamos tan agradecidos por el servicio de conserjería! ¡Fueron muy amables coordinando todo nuestro transporte durante el fin de semana! ¡La casa era hermosa! ¡Y nos encantó tener 2 piscinas separadas para poder pasar el rato en espacios diferentes cada día! En general, la casa fue increíble y definitivamente fue lo que esperábamos.",
  },
  {
    id: 5,
    nombre: "Filip",
    fecha: "marzo de 2025",
    calificacion: 5,
    review: "Gran villa moderna y limpia. Muy acogedor y te sientes como en casa. Las instalaciones fueron geniales y ofrecen muchas oportunidades para relajarse.",
  }
];


import '../styles/_aditional.sass';

---


<Layout>
  <section class="heroBanner homePageBanner mb-0" 
    style=`background-image: url(${HeroResenas.src});`
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-start pb-4">Villas</h1>
      </div>
    </div>
  </section> 
  
  
  <!-- Product info -->
   <section class="productInformation">
    <div class="container">
      <div class="row justify-content-between">
        <!-- Start gallery -->
        <div class="col col-12 col-md-6 col-lg-7">
          <div class="productInformation--photos w-100">
            <!-- Galeria product -->
            <Gallery 
              images={galleryImages}
              imagesThumbs={galleryImages}
            />
            <!-- Galeria product -->
            <!-- Buttons product -->
            <div class="productInformation--btns d-flex align-items gap-4 py-4">
              <a href="#!" class="rounded-pill btn-airbnb d-flex align-items-center justify-content-center text-align-center px-3 py-2">
                <img src={IconAirbnb.src} alt="Airbnb" class="d-block mw-100" width="40" height="40" />
                <span class="d-block w-100 text-white pe-3 fw-light">RESERVA AQUÍ</span>
              </a>
              <a href="#!" class="rounded-pill btn-booking d-flex align-items-center justify-content-center text-align-center px-3 py-2">
                <img src={IconBooking.src} alt="Booking" class="d-block mw-100" width="40" height="40" />
                <span class="d-block w-100 text-white pe-3 fw-light">RESERVA AQUÍ</span>
              </a>
            </div>
            <!-- Buttons product -->
          </div>


          <!-- Mas informacion -->
          <section class="masInformacionSection">
            <div class="masInformacionSection--copy pb-5">
              <div class="masInformacionSection--copy-title">
                <div class="ico">
                  <img src={villaIco1.src} alt="" />
                </div>
                <div class="titulo">
                  <h3>El alojamiento</h3>
                  <h4>Dormitorios:</h4>
                </div>
              </div>
              <div class="masInformacionSection--copy-desc">
                <p><strong>4</strong> Amplios dormitorios:</p>
                <p><strong>3</strong> Dormitorios con camas tamaño King + camas individuales extraíbles.</p>
                <p><strong>1</strong>  dormitorio con <strong>2</strong> camas tamaño queen.</p>
                <p><strong>4</strong> baños completos.</p>
                <p>Cocina Equipada</p>
                <p>Comedor</p>
                <p>Sala integrada</p>
                <p>Terraza Equipada</p>
                <p>WiFi</p>
                <!-- <br>
                <p><i>Todas las habitaciones incluyen:</i></p>
                <p>Armarios integrados.</p>
                <p>Televisores inteligentes.</p>
                <p>Aire acondicionado.</p>
                <br>
                
                <p>Cocina totalmente equipada con todo lo necesario para cocinar en casa.</p>
                <p>Comedor interior y sala de estar frente a la piscina, creando una hermosa conexión interior-exterior.</p>
                <p>La sala de estar incluye un televisor inteligente y un sistema de sonido, perfecto para relajarse por la noche.</p>
                <br>
                <p>- Dos piscinas privadas: una en la planta baja y otra en la azotea.</p>
                <p>- Terraza con parrilla para barbacoa, tumbonas y comedor.</p>
                <p>- Wifi de alta velocidad en toda la villa.</p> -->

              </div>
            </div>
          </section>
          <!-- Mas informacion -->

        </div>
        <!-- End gallery -->

        <!-- Start information -->
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="productInformation--data d-block mx-auto">
            <div class="reviewsBlock--reviews-items px-0">
              <div class="reviewsBlock--reviews-item ">
                <div class="reviewsBlock--reviews-item-copy alternativeColors">
                  <h2 class="color-orange">Villas</h2>
                  <p>
                    Las villas ofrecen una amplia variedad de características excepcionales pensadas para satisfacer todas tus necesidades. Disfruta del servicio de concierge personalizado, amplias piscinas y una exclusiva cancha de pádel en la azotea. 
                    <br>
                    Cada espacio ha sido diseñado para brindar experiencias memorables, combinando confort, elegancia y un servicio al cliente de primer nivel.
                  </p>
                </div>
              </div>
            </div>
            
            <p class="text-end pt-4">
              <a href="#!" class="btn-warning rounded-pill d-inline-flex align-items-center justify-content-center text-align-center py-3 text-white" style="width: 100%; max-width: 200px;">RESERVA AQUÍ</a> 
            </p>           
          </div>          
        </div>
        <!-- End information -->
      </div> <!-- End row -->
    </div> <!-- End container -->
   </section>
  <!-- Product info -->





  <div class="imageBlock ">
    <img src={AmenidadesImg1.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>

</Layout>



