---
import Layout from '../layouts/Layout.astro';

import Departamentos1 from '../assets/departamentos-1.jpg';
import Departamentos2 from '../assets/departamentos-2.jpg';

import IconAirbnb from '../assets/ico-airbnb.png'
import IconBooking from '../assets/ico-booking.png'

import HeroResenas from '../assets/hero-resenas.jpg';
import GalleryDepartamentos from '../components/GalleryDepartamentos.astro';
import GalleryDepartamentos2 from '../components/GalleryDepartamentos2.astro';

import villaIco2 from '../assets/villa-ico-2.png';
import villaIco3 from '../assets/villa-ico-3.png';
import villaIco4 from '../assets/villa-ico-4.png';
import villaIco1 from '../assets/villa-ico-1-black.png';
import villabanera from '../assets/banera.png';
import villacocina from '../assets/cocina.png';
import villacomedor from '../assets/comedor.png';
import villasala from '../assets/sala.png';
import villabalcon from '../assets/balcon.png';
import villaalberca from '../assets/icono-alberca.png';
import villapersonas from '../assets/icono-personas.png';

const galleryImages = [
  {
    src: '/villanw-1.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-2.jpg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-3.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-4.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-5.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-6.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-7.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-8.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-9.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-10.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-11.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-12.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-13.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-14.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
  {
    src: '/villanw-15.jpeg', // Archivo en public/
    alt: 'Villa',
    title: 'Villa',
    width: 1200,
    height: 800
  },
];
const galleryImagesDpto2 = [
  {
    src: '/departamento-2-3.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },  
  {
    src: '/departamento-2-1.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/departamento-2-2.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },

  {
    src: '/departamento-2-4.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/departamento-2-5.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/departamento-2-6.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/departamento-2-7.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/departamento-2-8.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/departamento-2-9.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
];
---

<style>
  .masInformacionSection--copy{
    width: 100%;
    max-width: 250px;
  }
  .masInformacionSection--copy-title .ico img{
    max-width: 80px;
  }
  .masInformacionSection--copy-title .titulo h4{
    font-style: unset;
    font-size: 16px;
  }
</style>

<Layout>
  <section class="heroBanner homePageBanner mb-0" 
    style=`background-image: url(${HeroResenas.src});`
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-start pb-4">Villas</h1>
      </div>
    </div>
  </section> 
  
  

  <div class="welcomeBlock mt-5 pt-5 pb-5">
    <div class="container pt-4 pb-3">
      <div class="welcomeBlock--copy-large mw-100">
        <h2 class="text-center">
          VILLAS
        </h2>
        <p class="text-center mw-100 w-100">
          Las villas ofrecen una amplia variedad de características excepcionales pensadas para satisfacer todas tus necesidades. Disfruta del servicio de concierge personalizado, amplias piscinas y una exclusiva cancha de pádel en la azotea.
        </p>
        <p class="text-center mw-100 w-100">
          Cada espacio ha sido diseñado para brindar experiencias memorables, combinando confort, elegancia y un servicio al cliente de primer nivel.
        </p>
      </div>
    </div>
  </div>  
  <div class="imageBlock">
    <!-- <img src={Departamentos1.src} alt="" class="d-block mx-auto w-100"> -->
    
    <GalleryDepartamentos 
      images={galleryImages}
      imagesThumbs={galleryImages}
    />

    
    <!-- Mas informacion -->
    <section class="masInformacionSection">
      <div class="container">

        <div class="row">
          <div class="col-12 col-md-6 col-lg-10">

            <div class="row">
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villapersonas.src} alt="" />
                    </div>
                    <div class="titulo text-center">
                      <h4>16 personas</h4>
                    </div>
                  </div>
                </div>
              </div>              
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villaIco1.src} alt="" />
                    </div>
                    <div class="titulo text-center">

                      <h4>4 Dormitorios <br> 8 camas</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villabanera.src} alt="" />
                    </div>
                    <div class="titulo text-center">

                      <h4>4 baños completos</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villacocina.src} alt="" />
                    </div>
                    <div class="titulo text-center">

                      <h4>Cocina equipada</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villacomedor.src} alt="" />
                    </div>
                    <div class="titulo text-center">
                      <h4>Comedor</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villasala.src} alt="" />
                    </div>
                    <div class="titulo text-center">
                      <h4>Sala integrada</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villabalcon.src} alt="" />
                    </div>
                    <div class="titulo text-center">
                      <h4>Terraza con grill</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="masInformacionSection--copy pb-5">
                  <div class="masInformacionSection--copy-title d-block">
                    <div class="ico text-center mx-auto">
                      <img src={villaalberca.src} alt="" />
                    </div>
                    <div class="titulo text-center">
                      <h4>2 albercas privadas</h4>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-2">
            <div class="imageBlock--btns py-5">
              <div class="d-flex justify-content-start gap-2 pb-3">
                <a href="#!" class="btn btn-circle btn-airbnb rounded-circle d-flex align-items-center justify-content-center text-align-center">
                  <img src={IconAirbnb.src} alt="Airbnb" class="d-block w-100">
                </a>
                <a href="#!" class="btn btn-circle btn-booking rounded-circle d-flex align-items-center justify-content-center text-align-center">
                  <img src={IconBooking.src} alt="Booking" class="d-block w-100">
                </a>
              </div>
              <a href="#!" class="btn btn-warning rounded-pill text-white px-4 py-2 d-flex align-items-center text-center justify-content-center">RESERVA AQUÍ</a>        
            </div>            
          </div>
        </div>

      </div>
    </section>
    <!-- Mas informacion -->


  </div>

  
</Layout>