---
import Layout from "../layouts/Layout.astro"

import AmenidadesImg1 from '../assets/hero-amenidades.jpg';

import HeroResenas from '../assets/hero-resenas.jpg';

import villaIco1 from '../assets/villa-ico-1.png';
import villaIco2 from '../assets/villa-ico-2.png';
import villaIco3 from '../assets/villa-ico-3.png';
import villaIco4 from '../assets/villa-ico-4.png';

import IconAirbnb from '../assets/ico-airbnb.png'
import IconBooking from '../assets/ico-booking.png'

import Gallery from "../components/Gallery.astro";


const galleryImages = [
  {
    src: '/villa3-1.jpg', // Archivo en public/
    alt: 'Villa 3 - 1',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/villa3-2.jpg', // Archivo en public/
    alt: 'Villa 3 - 2',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/villa3-3.jpg', // Archivo en public/
    alt: 'Villa 3 - 3',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
  {
    src: '/villa3-4.jpg', // Archivo en public/
    alt: 'Villa 3 - 4',
    title: 'Villa 3',
    width: 1200,
    height: 800
  },
];

---


<Layout>

  <section class="heroBanner homePageBanner mb-0" 
    style=`background-image: url(${HeroResenas.src});`
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-start pb-4">Villa</h1>
      </div>
    </div>
  </section> 
  
  
  <!-- Product info -->
   <section class="productInformation">
    <div class="container">
      <div class="row justify-content-between">
        <!-- Start gallery -->
        <div class="col col-12 col-md-6 col-lg-7">
          <div class="productInformation--photos w-100">
            <!-- Galeria product -->
            <Gallery 
              images={galleryImages}
              imagesThumbs={galleryImages}
            />
            <!-- Galeria product -->
            <!-- Buttons product -->
            <div class="productInformation--btns d-flex align-items gap-4 py-4">
              <a href="#!" class="rounded-pill btn-airbnb d-flex align-items-center justify-content-center text-align-center px-3 py-2">
                <img src={IconAirbnb.src} alt="Airbnb" class="d-block mw-100" width="40" height="40" />
                <span class="d-block w-100 text-white pe-3 fw-light">RESERVA AQUÍ</span>
              </a>
              <a href="#!" class="rounded-pill btn-booking d-flex align-items-center justify-content-center text-align-center px-3 py-2">
                <img src={IconBooking.src} alt="Booking" class="d-block mw-100" width="40" height="40" />
                <span class="d-block w-100 text-white pe-3 fw-light">RESERVA AQUÍ</span>
              </a>
            </div>
            <!-- Buttons product -->
          </div>
        </div>
        <!-- End gallery -->

        <!-- Start information -->
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="productInformation--data d-block mx-auto">
            <div class="reviewsBlock--reviews-items px-0">
              <div class="reviewsBlock--reviews-item ">
                <div class="reviewsBlock--reviews-item-copy">
                  <h2 class="color-orange">Villas</h2>
                  <p>
                    Las villas cuentan con una gran variedad de características excepcionales que satisfacen todas tus necesidades. Los huéspedes pueden disfrutar de servicio de conserjería, junto con acceso a piscinas más grandes y una cancha de paddle en la azotea. Esta propiedad está diseñada para crear experiencias memorables a través de un servicio al cliente excepcional.
                  </p>
                </div>
              </div>
            </div>
            <div class="reviewsBlock--reviews-items px-0 pt-5">
              <div class="reviewsBlock--reviews-item alternativeColor">
                <div class="reviewsBlock--reviews-item-who">
                  <i class="bi bi-person-circle"></i>
                </div>
                <div class="reviewsBlock--reviews-item-copy">
                  <h3>YARELI - CDMX</h3>
                  <p>El alojamiento estaba hermoso, todo muy limpio, todos los días no se iban a Niños hacían el aseo y la comunicación estuvo excelente, me encantó el lugar y las personas se lo Super recomiendo.</p>
                </div>
              </div>
            </div>
            <div class="reviewsBlock--reviews-items px-0 pt-5">
              <div class="reviewsBlock--reviews-item alternativeColor">
                <div class="reviewsBlock--reviews-item-who">
                  <i class="bi bi-person-circle"></i>
                </div>
                <div class="reviewsBlock--reviews-item-copy">
                  <h3>GARRET, LOS ÁNGELES</h3>
                  <p>La villa estaba muy limpia. La ubicación estaba lo suficientemente cerca como para llegar a nuestros destinos en un momento muy razonable. El servicio de conserjería fue extremadamente servicial y absolutamente necesario. El aire acondicionado funcionó bien.</p>
                </div>
              </div>
            </div>
            <p class="text-end pt-4">
              <a href="#!" class="btn-warning rounded-pill d-inline-flex align-items-center justify-content-center text-align-center py-3 text-white" style="width: 100%; max-width: 200px;">RESERVA AQUÍ</a> 
            </p>           
          </div>          
        </div>
        <!-- End information -->
      </div> <!-- End row -->
    </div> <!-- End container -->
   </section>
  <!-- Product info -->


  <!-- Mas informacion -->
  <section class="masInformacionSection">
    <div class="container">

      <h2>Más información</h2>

      <div class="row">

        <div class="col col-12 col-lg-6">
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title">
              <div class="ico">
                <img src={villaIco1.src} alt="" />
              </div>
              <div class="titulo">
                <h3>El alojamiento</h3>
                <h4>Dormitorios:</h4>
              </div>
            </div>
            <div class="masInformacionSection--copy-desc">
              <p><strong>4</strong> Amplios dormitorios:</p>
              <p><strong>3</strong> Dormitorios con camas tamaño king + camas individuales extraíbles.</p>
              <p><strong>1</strong>  dormitorio con dos camas tamaño queen.</p>
              <br>
              <p><i>Todas las habitaciones incluyen:</i></p>
              <p>Armarios integrados.</p>
              <p>Televisores inteligentes.</p>
              <p>Aire acondicionado.</p>
              <br>
              <p><strong>4</strong> baños completos con acabados modernos.</p>
              <p>Cocina totalmente equipada con todo lo necesario para cocinar en casa.</p>
              <p>Comedor interior y sala de estar frente a la piscina, creando una hermosa conexión interior-exterior.</p>
              <p>La sala de estar incluye un televisor inteligente y un sistema de sonido, perfecto para relajarse por la noche.</p>
            </div>
          </div>
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title">
              <div class="ico">
                <img src={villaIco2.src} alt="" />
              </div>
              <div class="titulo">
                <h3>SERVICIOS PRIVADOS</h3>
              </div>
            </div>
            <div class="masInformacionSection--copy-desc">
              <p>- Dos piscinas privadas: una en la planta baja y otra en la azotea.</p>
              <p>- Terraza con parrilla para barbacoa, tumbonas y comedor.</p>
              <p>- Wifi de alta velocidad en toda la villa.</p>
              <p>- Personal opcional en el alojamiento disponible para ayudar con la preparación de comidas y el servicio básico (no un chef profesional, pero alguien que puede ayudar a preparar y servir comidas).</p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-lg-6">
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title">
              <div class="ico">
                <img src={villaIco3.src} alt="" />
              </div>
              <div class="titulo">
                <h3>SERVICIOS DE LA COMUNIDAD</h3>
              </div>
            </div>
            <div class="masInformacionSection--copy-desc">
              <p>3 piscinas compartidas, incluida una de las piscinas más grandes de Tulum.</p>
              <p>Cancha de paddle en la azotea con vistas a la selva.</p>
              <p>Seguridad cerrada 24/7 para tu tranquilidad.</p>
              <p>Terrenos tranquilos y bien cuidados rodeados de</p>
            </div>
          </div>
          <div class="masInformacionSection--copy pb-5">
            <div class="masInformacionSection--copy-title">
              <div class="ico">
                <img src={villaIco4.src} alt="" />
              </div>
              <div class="titulo">
                <h3>EXPERIENCIA DEL HÚESPED</h3>
              </div>
            </div>
            <div class="masInformacionSection--copy-desc">
              <p>Nuestro equipo dedicado a la experiencia del huésped te ayudará a planificar un viaje a tu medida:</p>
              <p>Cenas privadas en la villa.</p>
              <p>Servicios de spa.</p>
              <p>Cenote y paseos en barco.</p>
              <p>Reservaciones en restaurantes, reservaciones en clubes de playa y mucho más.</p>
              <p>Planificación previa a la llegada disponible para garantizar que todo esté listo antes de que aterrices.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- Mas informacion -->


  <div class="imageBlock ">
    <img src={AmenidadesImg1.src} alt="" class="img-fluid w-100 d-block mx-auto">
  </div>

</Layout>


